.login_popup .modal-content {padding:20px}

.msg {
    padding: 15px;
    font-variant: small-caps;
    font-size: 14px;
}

.login_popup button.close {background: #ccc;/* width: 0px; */z-index: 99999999999;/* width: 50px; */position: relative;opacity: 1;padding: 8px;top: 1px;right: 1px;}

.login_popup .lost {padding-left:10px}
.login_popup .modal-dialog {margin-top: 13%;position:relative}